@font-face {
    font-family: 'Kaushan';
    src: url(/Users/amir/Desktop/project/fonts/Kaushan_Script/KaushanScript-Regular.ttf);
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url(/Users/amir/Desktop/project/fonts/Roboto-Medium.ttf);
}
.max-width{
    width: 1120px;
    margin: 0 auto;
    
    
}
body {
    background-color: #FFF2D7;
    margin: 0;
}

header {
    background-color: rgb(139, 139, 139);
    width: 100%;
    z-index: 999;
    font-family: kaushan;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Adjust padding */
}
.navbar a:hover {
    background-color: hsl(0, 0%, 10%);
     
}
.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    display: inline;
    margin-right: 20px; /* Adjust spacing between menu items */
}



.menu ul li a {
    text-decoration: none;
    color: white;
}

.login a {
    text-decoration: none;
    font-family: kaushan;
    color: white;
    padding: 8px 12px; /* Adjust padding */
    border-radius: 5px;
    background-color: goldenrod;
}

.login a:hover {
    background-color: hsl(0, 0%, 10%);
}
.logo2{
    margin-left: -360px;
    color:goldenrod ;
}
section{
    display: flex;  
    align-items: center;
}
.art-of-cooking{
    display:block;

    
}

#logo37 h3{
    font-family: kaushan;
    display: inline-block;
    color: goldenrod;
   text-align: left;
   text-indent: 20px;
   line-height:20px;
  
  

}
.our-website{
    display: block;
    margin-top: 100px;
    
    
}
.our-website h2{
    font-family: Roboto-Medium;
    margin-left: 20px;
    margin-top: -12px;
    
    
}
#icon7 a{
    font-family: Roboto-Medium;
    width: 35px;
    height: 70px;
     color: white;
    text-decoration: none;
     padding: 3px 12px; /* Adjust padding */
    border-radius: 5px;
    background-color: goldenrod;
    margin-top: 100px;
    margin-left: 440px;

}
#icon7 a:hover {
    background-color: hsl(0, 0%, 10%);
}
.video7{
   
    margin-left: 15px;
   
}
.video71{
   
    height: 400px;
}
